
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    color: var(--primary-text-clr);
    --padding: 1.6rem;
    --gap: 2rem;
    --heading-gap: 0.4rem;
    --h2-size: 1.4rem;
    /*Define main colors and whichever matches matches.*/
    --accent-clr: #979797;
    --accent-clr-hover: #ffb6b8;
    --main-clr: #FF6F59;
    --bg-clr: rgb(240, 240, 240);
    --card-clr: whitesmoke;
    --bold-heading-clr: 040403;
    --muted-text-clr: #777;
    --box-shadow: grey;
    --primary-text-clr: rgb(255, 255, 255);
    --secondary-text-clr: white; 
    --profile-photo-small-size: 55px;
    --pic-placeholder-clr: var(--accent-clr);
    --divider-clr: var(--accent-clr);
    --border-radius: 0.4rem;
}

body {
    background-color: #2d2d2d;
}

h1, h2, h3, h4 {
    color: var(--bold-heading-clr);
}

h2, .greeting p {
    font-family: 'Kalnia';
} 

/*OVERALL LAYOUT START*/
div.container {
    display: grid;
    min-height: 100vh;
    grid: 
    "sidebar header" 17%
    "sidebar article" 1fr / 1fr 4fr
    ;
    
}

.header {
    grid-area: header;
    justify-self: center;
    align-self: center;
    padding: 2.5rem 3.7rem 0rem 3.7rem;
    border-radius: var(--border-radius);
    background-color: var(--card-clr);
    color: black;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--main-clr);
    color: var(--secondary-text-clr);
}

.article {
    grid-area: article;
    color: black;
    /* background-color: var(--bg-clr); */
    display: grid;
    grid: 1fr / 5fr 2fr;
    /*column gap only for 2 columns not in preparation for new rows*/
    column-gap: var(--gap);
    padding: var(--padding) var(--padding) var(--padding) var(--padding);
    /* box-shadow: 0px 2px 6px var(--box-shadow) inset; */
}

button:hover {
    box-shadow: 0px 2px 6px var(--box-shadow);
}

.sidebar .wrapper:hover:not(.dashboard) {
    background-color: var(--accent-clr-hover);
}

/*OVERALL LAYOUT DONE*/

/*ARTICLE INNER LAYOUT*/
.content {
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 2px 2px 6px var(--box-shadow);
}

.projects-container > .content:hover {
    right: 12px;
}

.projects-container > .content {
    /* border-left: 0.6rem solid var(--accent-clr); */
    display: flex;
}

.projects-container > .content .wrapper {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.projects-container > .content img {
    flex: 1;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    width: 30px;
    height: 100%;
}

.pic {
    object-fit: cover;
}

.projects-container .desc {
    flex: 1;
}

.projects-container .icon {
    display: inline-block;
}

.projects-container .options {
    margin-left: auto;
}

.projects-container .options > div + div {
    margin-left: 1rem;
}

/*.wrapper .projects is now set to display flex block*/
.wrapper.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.projects-container {
    flex: 1;
    display: grid;
    grid: repeat(3, 15rem) / repeat(2, 1fr);
    grid-auto-rows: 15rem;
    gap: var(--gap);
}

.side-panel {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    max-height: 817px;
}

.side-panel .content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
}

.side-panel .content section {
    flex: 1 1 auto;
}

section.announcement:not(:last-child) {
    border-bottom: 1px solid var(--divider-clr);
}

section.announcement:not(:last-child):not(:first-child) {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

section.announcement:first-child {
    padding-bottom: 1rem;
}

section.announcement:last-child {
    padding-top: 1rem;
}

.article section.content {
    background-color: var(--card-clr);
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.side-panel > section + section {
    margin-top: var(--gap);
}

.announcements > .content, .trending > .content {
    /*content can flex but has a max-height*/
    flex: 1;
}

.profile {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    align-items: center;
    justify-items: start;
    gap: 1rem;
}

.pic {
    background-color: var(--main-clr);
}
/* 
.trending .pic {
    min-height: var(--profile-photo-small-size);
    min-width: var(--profile-photo-small-size);
    border-radius: 50%;
}

.trending .profile:nth-child(1) .pic {
    background-image: url(../assets/pics/3d-render-avatar-character-2/9334410.jpg);
}

.trending .profile:nth-child(3) .pic {
    background-image: url(../assets/pics/3d-render-avatar-character-1/9334183.jpg);
}

.trending .profile:nth-child(4) .pic {
    background-image: url(../assets/pics/3d-render-avatar-character-2/9334410.jpg);
}

.pic.me {
    background-image: url(../assets/pics/3d-render-avatar-character/9334392.jpg);
} */

h2 {
    margin-bottom: 0.4rem;
    font-size: var(--h2-size);
}

.content h4 {
    font-size: calc(var(--h2-size) - 0.11rem);
}

button, input[type="search"] {
    font-size: 1.1rem;
}

/*ARTICLE INNER LAYOUT DONE*/

/*HEADER LAYOUT START*/

.header {
    display: grid;
    grid: 1fr 2fr / 5fr 3fr;
    gap: 1.3rem;
}

.project-options {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.project-options button {
    flex: 1;
    padding: 0.6rem 1.6rem;
    border-radius: 1.3rem;
    appearance: none;
    background-color: var(--main-clr);
    color: var(--secondary-text-clr);
    border: none;
    font-weight: 700;
    transition: 0.1s linear transform;
}

.project-options button:active {
    transform: scale(0.9);
}

.search {
    display: flex;
    gap: 1rem;
    align-items: center;
}

input[type="search"] {
    appearance: none;
    background-color: var(--bg-clr);
    border-radius: 1.3rem;
    border: none;
    padding: 0.5rem 0.7rem;
    flex: 1;
    box-shadow: -1px 1px 4px var(--box-shadow) inset;
}

input[type="search"]:focus {
    outline: 2px solid var(--muted-text-clr);
    
}

.profile-options {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: center;
}

.profile-options > p {
    color: var(--bold-heading-clr);
    font-weight: 700;
}

.profile-options .pic {
    height: var(--profile-photo-small-size);
    width: var(--profile-photo-small-size);
    border-radius: 50%;
}

.user-greeting {
    display: grid;
    grid-template: 1fr / auto 5fr;
    column-gap: 1.5rem;
}

.greeting {
    align-self: center;
}

.greeting > p:first-child {
    color: var(--bold-heading-clr);
    font-weight: 700;
}

.greeting > p:last-child {
    color: var(--bold-heading-clr);
    font-weight: 700;
    font-size: 2rem;
}

.user-greeting .pic {
    height: calc(var(--profile-photo-small-size) + 15px);
    width: calc(var(--profile-photo-small-size) + 15px);
    border-radius: 50%;
}
/*HEADER LAYOUT END*/

/*SIDEBAR LAYOUT START*/
.sidebar, .sidebar h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.sidebar .wrapper {
    padding: 0.5rem var(--padding);
}

.sidebar .wrapper.dashboard {
    padding: 1.5rem var(--padding) 0px;
}

.sidebar h2 {
    font-size: 2rem;
    color: var(--secondary-text-clr);
}

.sidebar > section {
    margin-top: 10%;
}

.sidebar > section > div {
    padding: 0.5rem 0px;
}

.sidebar .wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/*SIDEBAR LAYOUT END*/

/*ICONS START*/
.icon {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    filter: none;
    transition: 0.1s linear transform;
}

.icon:hover {
    transform: scale(1.3);
}

.sidebar .icon {
    filter: invert(1);
}

.profile-options .icon {
    background-image: url(../assets/bell-ring-outline.svg);
}

.search .icon {
    background-image: url(../assets/magnify.svg);
}

.icon.home {
    background-image: url(../assets/home.svg);
}

.icon.profile {
    background-image: url(../assets/account-box-outline.svg);
}

.icon.msgs {
    background-image: url(../assets/message.svg);
}

.icon.history {
    background-image: url(../assets/history.svg);
}

.icon.tasks {
    background-image: url(../assets/format-list-checks.svg);
}

.icon.communities {
    background-image: url(../assets/account-group.svg);
}

.icon.settings {
    background-image: url(../assets/cog.svg);
}

.icon.support {
    background-image: url(../assets/help-box-multiple.svg);
}

.icon.privacy {
    background-image: url(../assets/shield-check.svg);
}

.icon.dashboard {
    background-image: url(../assets/view-dashboard.svg);
    height: 45px;
    width: 45px;
}

.projects-container .icon.favorite {
    background-image: url(../assets/star-plus-outline.svg);
}

.projects-container .icon.live {
    background-image: url(../assets/eye-plus-outline.svg);
}

.projects-container .icon.repo {
    background-image: url(../assets/source-fork.svg);
}

/*ICONS END*/
