* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    color: black;
    --padding: 1.6rem;
    --gap: 2rem;
}

/*OVERALL LAYOUT START*/
div.container {
    display: grid;
    min-height: 100vh;
    grid: 
    "sidebar header" 1fr
    "sidebar article" 7fr / 1fr 4fr
    ;
}

.header {
    grid-area: header;
    padding: var(--padding);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(49, 171, 241);
    color: white;
    padding: var(--padding);
}

.article {
    grid-area: article;
    background-color: #eee;
    display: grid;
    grid: 4fr 1fr / 2fr 1fr;
    gap: var(--gap);
    padding: var(--padding) var(--padding) calc(var(--padding) + 2.8rem) var(--padding);
}

/*OVERALL LAYOUT DONE*/

/*ARTICLE INNER LAYOUT*/
.content {
    border-radius: 0.9rem;
}

.cards-container {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto [cards-start] repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--gap);
}

.side-panel {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid: auto-flow 1fr / 1fr;
    gap: var(--gap);
}

.side-panel > section {
    display: grid;
}

.article section.content {
    background-color: white;
}

.cards-container > h2 {
    grid-column: 1 / -1;
}

/*ARTICLE INNER LAYOUT DONE*/
