* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    color: black;
    --padding: 1.6rem;
    --gap: 2rem;
    --heading-gap: 0.4rem;
    --h2-size: 1.4rem;
}

p {
    color: #777;
}

/*OVERALL LAYOUT START*/
div.container {
    display: grid;
    min-height: 100vh;
    grid: 
    "sidebar header" 1fr
    "sidebar article" 7fr / 1fr 4fr
    ;
}

.header {
    grid-area: header;
    padding: var(--padding);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(49, 171, 241);
    color: white;
    padding: var(--padding);
}

.article {
    grid-area: article;
    background-color: #eee;
    display: grid;
    grid: 1fr / 5fr 2fr;
    /*column gap only for 2 columns not in preparation for new rows*/
    column-gap: var(--gap);
    padding: var(--padding) var(--padding) var(--padding) var(--padding);
}

/*OVERALL LAYOUT DONE*/

/*ARTICLE INNER LAYOUT*/
.content {
    border-radius: 0.9rem;
}

.projects-container > .content {
    border-left: 0.6rem solid rgb(246, 187, 39);
    min-height: 20rem;
}

/*.wrapper .projects is now set to display flex block*/
.wrapper.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.projects-container {
    flex: 1;
    display: grid;
    grid: 1fr 1fr 1fr / repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--gap);
}

.side-panel {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    max-height: 1062px;
}

.side-panel .content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
}

.side-panel .content section {
    flex: 1 1 auto;
}

section.announcement:not(:last-child) {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

.article section.content {
    background-color: white;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.side-panel > section + section {
    margin-top: var(--gap);
}

.announcements > .content, .trending > .content {
    /*content can flex but has a max-height*/
    flex: 1;
}

.profile {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    align-items: center;
    justify-items: start;
    gap: 1rem;
}

.pic {
    background-color: rgb(246, 187, 39);
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
}

h2 {
    margin-bottom: 0.4rem;
    font-size: var(--h2-size);
}

/*ARTICLE INNER LAYOUT DONE*/
